@font-face {
  font-family: "FuturaPT";
  src: url("/fonts/FuturaPTDemi.otf"); }

@font-face {
  font-family: "FuturaPTHeavy";
  src: url("/fonts/FuturaPTHeavy.otf"); }

@font-face {
  font-family: "FuturaPTBook";
  src: url("/fonts/FuturaPTBook.otf"); }

@font-face {
  font-family: "FuturaPTExtraBold";
  src: url("/fonts/FuturaPTExtraBold.otf"); }

@font-face {
  font-family: 'FuturaPTLight';
  src: url("/fonts/FuturaPTLight.otf"); }

ul {
  -webkit-padding-start: 0px;
  margin-bottom: 0; }

* {
  outline: none; }

header {
  height: 216px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); }

.top-bar {
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 56px;
  display: flex;
  align-items: center; }
  .top-bar .row {
    display: flex;
    align-items: center; }

.top-logo {
  height: 77px;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  align-items: center; }

.top-menu {
  height: 83px;
  display: flex;
  align-items: center; }

.top-menu .row {
  display: flex;
  align-items: center; }

.search {
  position: relative; }
  .search input[type="text"] {
    border-radius: 2px;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    background-color: #fefefe;
    width: 100%;
    height: 38px; }
  .search input[type="submit"] {
    position: absolute;
    border: 0px;
    background: url(../img/search.png) 60%;
    width: 25px;
    height: 23px;
    background-size: 130%;
    top: 7px;
    left: 25px; }

.menu ul li {
  list-style: none;
  font-family: FuturaPTHeavy;
  color: #000000;
  font-size: 15px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase; }

.menu ul li:hover {
  color: #df2400;
  cursor: pointer; }

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.cart-favorite {
  display: flex;
  justify-content: space-between; }
  .cart-favorite div {
    width: 27px;
    height: 24px; }
  .cart-favorite .cart {
    background: url("../img/cart_ico.png"); }
  .cart-favorite .favorite {
    background: url("../img/cart_ico.png");
    background-position: 100%; }

.phones ul {
  display: flex;
  justify-content: space-between; }
  .phones ul .vel:before {
    content: '';
    width: 18px;
    height: 18px;
    background: url("../img/header-ico.png");
    margin-right: 7px;
    background-position-x: -135px; }
  .phones ul .mts:before {
    content: '';
    width: 18px;
    height: 18px;
    background: url("../img/header-ico.png");
    background-position-y: -2px;
    margin-right: 7px; }
  .phones ul li {
    font-family: FuturaPT;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    list-style: none;
    display: flex; }

.viber-skype ul {
  display: flex;
  justify-content: space-around; }
  .viber-skype ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; }
  .viber-skype ul li:before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    margin-right: 7px; }
  .viber-skype ul .viber:before {
    background: url("../img/header-ico.png");
    background-position-x: -298px; }
  .viber-skype ul .skype:before {
    background: url("../img/header-ico.png");
    background-position-x: -380px; }
  .viber-skype ul .email:before {
    background: url("../img/header-ico.png");
    background-position-x: -463px; }

.work-time {
  font-family: FuturaPTBook;
  color: #000000;
  font-size: 16px;
  font-weight: 300; }
  .work-time div {
    display: flex;
    justify-content: center; }
  .work-time div:before {
    content: '';
    width: 20px;
    height: 20px;
    background: url("../img/header-ico.png");
    background-position-x: -702px;
    background-position-y: -1px;
    margin-right: 7px; }

.login-register div {
  display: flex;
  font-family: FuturaPTBook;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  justify-content: center;
  height: 29px;
  align-items: center;
  transition: 0.5s; }
  .login-register div a {
    color: #000000;
    text-decoration: none; }

.login-register div:before {
  content: '';
  width: 20px;
  height: 20px;
  background: url("../img/header-ico.png");
  background-position-x: 100%;
  background-position-y: -1px;
  margin-right: 7px; }

.login-register div:hover {
  border-radius: 2px;
  border-width: 1px;
  border-color: #7f7f7f;
  border-style: solid;
  background-color: #f6f6f6;
  text-decoration: none; }

.carousel {
  height: 500px;
  border-radius: 50%; }
  .carousel .carousel-indicators li {
    border-width: 2px;
    border-color: #cccccc;
    border-style: solid;
    background-color: #ffffff;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    margin: 0px 15px; }
  .carousel .carousel-indicators li.active:before {
    content: '';
    border-radius: 50%;
    background-color: #df2400;
    width: 10px;
    height: 10px;
    display: block;
    opacity: 1;
    margin: 2px 2px; }
  .carousel .carousel-caption {
    text-shadow: none; }
    .carousel .carousel-caption h3 {
      font-family: FuturaPTHeavy;
      color: #000000;
      font-size: 35.99px;
      font-weight: 800;
      line-height: 48px; }
    .carousel .carousel-caption p {
      font-family: 'FuturaPTLight';
      color: #000000;
      font-size: 22px;
      font-weight: 300;
      line-height: 24px; }
    .carousel .carousel-caption a {
      border-radius: 3px;
      font-family: FuturaPTExtraBold;
      background-color: #d52b1e;
      width: 119px;
      height: 37px;
      color: white;
      display: block;
      text-align: center;
      line-height: 37px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px; }
  .carousel .guitar {
    right: 0;
    left: 50%;
    max-width: 400px;
    text-align: left;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%); }
