.breadcrumb.contacts
  padding: 0px
  border-bottom: 1px solid #cccccc
.contacts-page
  h1
    font-size: 32px
    font-family: $font-main
    color: black
    margin-bottom: 30px
  .left,.right
    padding-left: 0px

    .title
      display: inline-block
      color: #d42b1e
      font-family: $font-main
      font-size: 14px
      text-transform: uppercase
      padding-bottom: 10px
      border-bottom: 1px solid #d52b1e
      margin-bottom: 0px
    .block
      height: 80px
      display: flex
      border-bottom: 1px solid #cccccc
      margin-bottom: 25px
      font-family: $font-main
      align-items: center
    .block>div
        display: inline-flex
        align-items: center
        font-size: 20px
        padding-left: 0px

    .mts
      color: #444
      font-family: $font-main
      font-size: 20px
      margin-right: 20px
      span
        font-family: FuturaPTMedium
      &:before
        background: url("../img/contacts/mts.svg")
        content: ''
        display: inline-block
        width: 26px
        height: 26px
        border: 1px solid #a1a1a1
        margin-right: 10px
    .vel
      color: #444
      font-family: $font-main
      font-size: 20px
      span
        font-family: FuturaPTMedium
      &:before
        background: url("../img/contacts/velcome.svg")
        background-repeat: no-repeat
        content: ''
        display: inline-block
        width: 26px
        height: 18px
        margin-right: 10px
    .skype
      margin-right: 20px
      &:before
        background: url("../img/contacts/skype.svg")
        background-repeat: no-repeat
        content: ''
        display: inline-block
        width: 26px
        height: 26px
        margin-right: 10px
    .viber
      &:before
        background: url("../img/contacts/viber-01.svg")
        background-repeat: no-repeat
        content: ''
        display: inline-block
        width: 26px
        height: 26px
        margin-right: 10px
    .email
      &:before
        background: url("../img/contacts/@-03.svg")
        background-repeat: no-repeat
        content: ''
        display: inline-block
        width: 26px
        height: 26px
        margin-right: 10px
    .soc
      li
        list-style: none
        display: inline-block
        width: 28px
        height: 28px
        margin-right: 5px

