@font-face
  font-family: "FuturaPT"
  src : url("/fonts/FuturaPTDemi.otf")
@font-face
  font-family: "FuturaPTHeavy"
  src : url("/fonts/FuturaPTHeavy.otf")
@font-face
  font-family: "FuturaPTBook"
  src : url("/fonts/FuturaPTBook.otf")
