.breadcrumb
  height: 65px
  background: none
  color: #a1a1a1
  font-family: FuturaPTBook
  font-size: 12px
  text-decoration: underline
  display: flex
  align-items: center
  margin-bottom: 0
  li
    list-style: none
    display: inline-block
    a
      text-decoration: underline
    &:before
      content: '>'
      text-decoration: none
      padding: 0 0.3em
    &:first-of-type
      &:before
        content: none
  .last a
    text-decoration: none
.product-block-desc-cart
  .article
    color: #d42b1e
    font-family: FuturaPTBook
    font-size: 16px
  .title
    color: #000
    font-family: $font-main
    font-size: 24px
    line-height: 32px
    margin: 0 0
  .status
    margin: 20px 0 40px 0
    ul
      display: flex
      justify-content: space-between
    li
      list-style: none
      display: inline-flex
    .store
    .in-store
      color: #2ac178
      font-family: Roboto
      font-size: 14px

      &:before
        content: ''
        width: 16px
        height: 16px
        display: inline-block
        background: url("../img/status-ico.png")
        margin-right: 0.2em
    .no-store
      color: #df2400
      font-family: Roboto
      font-size: 14px

      &:before
        content: ''
        width: 16px
        height: 16px
        display: inline-block
        background: url("../img/product-status-ico.png")
        margin-right: 0.2em
        background-position-y: -41px

    .pre-store
      color: #ffd83f
      font-family: Roboto
      font-size: 14px

      &:before
        content: ''
        width: 16px
        height: 16px
        display: inline-block
        background: url("../img/product-status-ico.png")
        margin-right: 0.2em
        background-position-y: -81px

    .delivery
      color: #2c7ef8
      font-family: Roboto
      font-size: 14px
      &:before
        content: ''
        width: 20px
        height: 20px
        display: inline-block
        background: url("../img/status-ico.png")
        background-position-x: -126px
        background-repeat: no-repeat
        margin-right: 0.2em

    .feedback
      color: #9b9b9c
      font-family: Roboto
      font-size: 14px
      &:before
        content: ''
        width: 20px
        height: 20px
        display: inline-block
        background: url("../img/status-ico.png")
        background-position-x: -356px
        background-repeat: no-repeat
        margin-right: 0.2em
  .price-block
    div
      display: inline-block

    .old-price
      color: #000
      font-family: $font-main
      font-size: 32px
      text-decoration: line-through

    .action
      color: #d42b1e
      font-family: $font-main
      font-size: 32px
      margin-right: 20px
  .cart-block
    margin-top: 40px
    margin-bottom: 35px
    display: flex
    button
      height: 50px
      text-transform: uppercase
      border: 0px
      font-family: FuturaPT
      display: flex
      justify-content: center
      align-items: center

    .add-to-cart
      width: 200px
      background: $primary-color
      color: #fff
      font-size: 16px
      margin-right: 1em
      box-sizing: border-box
      &:hover
        background-color: #eb2f21
        box-shadow: 0 0 5px rgba(0,0,0,.3)
      &:active
        border: 3px solid #b52519
        background-color: #d52b1d

    .add-to-lovely
      width: 180px
      max-width: 180px
      background: white
      border: 1px solid #808080
      color: #808080
      position: relative
      font-size: 16px
      &:hover
        border-color: $primary-color
        z-index: 10
        color: $primary-color
        svg
          fill: $primary-color
      &:active
        background: #f2f2f2
        svg
          fill: $primary-color
      svg
        width: 16px
        height: 16px
        fill: #808080
        margin-right: 0.5em

    .add-to-compare
      width: 180px
      max-width: 180px
      background: white
      border: 1px solid #808080
      color: #808080
      margin-left: -1px
      position: relative
      font-size: 16px
      svg
        width: 16px
        height: 16px
        margin-right: 0.5em
        fill: #808080
      &:hover
        border-color: $primary-color
        z-index: 10
        color: $primary-color
        svg
          fill: $primary-color
      &:active
        background: #f2f2f2


  .info-block
    color: #000
    font-family: Roboto
    font-size: 16px
  .video-block
    margin: 35px 0em
    iframe
      border: 6px solid #d52b1d
.product-block-photo-char
  padding-right: 35px
  .main-photo
    img
      max-width: 100%
      outline: none
  .other-photo
    margin: 40px 0px
    display: flex
    a
      img
        max-width: 80px
        margin-right: 25px

  .charat
    .header
      border-top: 2px solid #cccccc
      border-bottom:  2px solid #cccccc
      margin-bottom: 0.5em
      .active
        h3
          border-bottom: 1px solid black
    h3
      color: #000
      font-family: FuturaPTBook
      font-size: 16px
      display: inline-block
      line-height: 35px
      margin: 0px 15px 0px 0px
      &:active
        color: inherit
        text-decoration: none
      a
        text-decoration: none
        color: inherit
    table
      width: 100%
      tr
        border-bottom: 1px solid #cccccc
        line-height: 35px
        td:first-of-type
          font-size: 14px
          text-transform: uppercase
        td:last-of-type
          font-size: 18px
          font-family: FuturaPTBook
  .question-block
    margin-top: 40px
    border: 3px solid  #d0e9fa
    padding: 30px 30px
    h3
      color: #d42b1e
      font-family: $font-main
      font-size: 24px
      margin-bottom: 1em
    form
      font-family: $font-main
      color: white
      input,textarea
        background: #f9f9f9
        border: 1px solid #dbdbdb
        width: 100%
        margin-bottom: 11px
        padding: 13px
        color: black
        font-family: FuturaPTBook
        &.placeholder
          color: red

      input[type='submit']
        width: 230px
        height: 48px
        background-color: #434343
        color: white
        border: 0px
        font-family: $font-main
        transition: all 1s
        &:hover
          background: $primary-color
#feedbacks
  .feedback-list
    .feedback-header
      height: 32px
      border-top: 1px solid #cccccc
      background: #f2f2f2
      padding: 0px 15px
      display: flex
      justify-content: space-between
      align-items: center
      .feedback-author
        color: #d42b1e
        font-family: FuturaPT
        font-size: 12px
      .feedback-date
        color: #bfbfbf
        font-size: 10px
        font-family: FuturaPTBook
    .feedback-body
      margin: 15px 0px
      font-family: FuturaPTBook
      font-size: 16px
    .feedback-element
      &:last-of-type
        padding-bottom: 1em
        border-bottom: 1px solid #cccccc
        margin-bottom: 40px

  form
      padding: 30px
      background: #f7f7f7
      border: 1px solid #d0d0d0
      input,textarea
        background: #ffffff
        border: 1px solid #dbdbdb
        width: 100%
        margin-bottom: 11px
        padding: 13px
        color: black
        font-family: FuturaPTBook
      input[type='submit']
        width: 230px
        height: 48px
        background-color: #434343
        color: white
        border: 0px
        font-family: FuturaPT
        transition: all 1s
        &:hover
          background: $primary-color

      h3
        color: #1b1f1f
        font-family: $font-main
        font-size: 24px
        margin-bottom: 20px

.social-block
  div
    display: inline-flex
    align-items: center
    cursor: pointer
    font-size: 16px
    margin-right: 1em
    margin-bottom: 30px

  object
    width: 25px
    height: 25px
  .arrow
    max-height: 12px
  .vk
    span
      color: #6383a7
  .face
    span
      color: #3a5998
  .twit
    span
      color: #1da1f2


