@import "_fonts.sass"

$font-main:   FuturaPT
$font-heavy:   FuturaPTHeavy
$primary-color: #df2400
$background:  #f1f1f1

ul
  -webkit-padding-start: 0px
  margin-bottom: 0
li
  font-family: inherit
a
  text-decoration: none
  color: inherit
  font-family: inherit

  &:hover
    text-decoration: none
    color: inherit
  &:active
    color: inherit
    text-decoration: none
*
  outline: none
span
  font-family: $font-main

@import "main-page"
@import "product"
@import "catalog"
